#root {
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
	display: flex;
}

div {
	box-sizing: border-box;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.App {
	&#light {
		background-color: #f3ebf6;
		color: #242424;
		border: #242424;

		a {
			color: #242424;
		}

		.btnTheme {
			background-color: #242424;
			color: #f3ebf6;
		}
	}

	&#dark {
		background-color: #242424;
		color: #f3ebf6;
		border: #f3ebf6;

		.btnTheme {
			background-color: #f3ebf6;
			color: #242424;
		}

		a {
			color: #f3ebf6;
		}
	}
	.App_optionbar {
		box-sizing: border-box;
		border-bottom: 1px solid;
		display: flex;
		justify-content: flex-end;

		.btnTheme {
			padding: 10px;
			margin: 20px;
			border: 1px solid;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: 700;
			font-size: 1rem;
			letter-spacing: 1.5px;
		}
	}

	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;

	.App_main {
		flex-grow: 1;
		// ~~ NAVBAR
		#App_navigation {
			border-bottom: 1px solid;
			width: auto;
			header {
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: nowrap;
				box-sizing: border-box;

				.nav_logo {
					flex-basis: 15%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					letter-spacing: 2px;

					img {
						margin-right: 10px;
					}
				}
				nav {
					width: 100%;
					ul {
						list-style-type: none;
						// font-size: 22px;
						font-weight: 700;
						letter-spacing: 1.5px;
						padding: 0;
						display: flex;
						justify-content: space-around;
						align-items: stretch;
						flex-wrap: wrap;

						li {
							flex-basis: 25%;
							box-sizing: border-box;
							padding: 1rem;
						}
					}
				}
			}
		}

		#App_content {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: justify;
			padding: 15px;
		}
	}
}

@media (min-width: 720px) {
	// ~~ NAVBAR
	.App {
		.App_main {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			#App_navigation {
				width: 20%;
				height: auto;
				border-bottom: none;
				box-sizing: border-box;
				border-right: 1px solid;
				display: flex;
				header {
					height: auto;
					align-items: stretch;
					// position: sticky;
					// top: 0;
					// left: 0;
					// width: 10%;

					.nav_logo {
						flex-basis: 15%;
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						flex-wrap: wrap;
						padding: 1rem;

						img {
							margin-right: 0;
							width: 75px;
						}
					}
					nav {
						width: 100%;
						flex-grow: 1;
						ul {
							list-style-type: none;
							padding: 0;
							display: flex;
							flex-direction: column;
							justify-content: flex-start;
							align-items: stretch;

							li {
								margin-bottom: 1rem;

								&:last-of-type {
									margin-bottom: 0;
								}
							}
						}
					}
					.nav_footer {
						flex-basis: 10%;
					}
				}
			}

			#App_content {
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				overflow-y: scroll;
				height: calc(100vh - 111px);
			}
		}
	}
}
