#root {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#dark {
  background-color: #242424;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
.App {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.App#light {
  background-color: #f3ebf6;
  color: #242424;
  border: #242424;
}
.App#light a {
  color: #242424;
}
.App#light .btnTheme {
  background-color: #242424;
  color: #f3ebf6;
}
.App#dark {
  background-color: #242424;
  color: #f3ebf6;
  border: #f3ebf6;
}
.App#dark .btnTheme {
  background-color: #f3ebf6;
  color: #242424;
}
.App#dark a {
  color: #f3ebf6;
}
.App .App_optionbar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.App .App_optionbar .btnTheme {
  padding: 10px;
  margin: 20px;
  border: 1px solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.5px;
}
.App .App_main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.App .App_main #App_navigation {
  border-bottom: 1px solid;
  width: auto;
}
.App .App_main #App_navigation header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.App .App_main #App_navigation header .logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}
.App .App_main #App_navigation header .logo img {
  margin-right: 10px;
}
.App .App_main #App_navigation header nav {
  width: 100%;
}
.App .App_main #App_navigation header nav ul {
  list-style-type: none;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.App .App_main #App_navigation header nav ul li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}
.App .App_main #App_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  padding: 15px;
}

@media (min-width: 720px) {
  .App .App_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .App .App_main #App_navigation {
    width: 20%;
    height: auto;
    border-bottom: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-right: 1px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .App .App_main #App_navigation header {
    height: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .App .App_main #App_navigation header .logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem;
  }
  .App .App_main #App_navigation header .logo img {
    margin-right: 0;
    width: 75px;
  }
  .App .App_main #App_navigation header nav {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .App .App_main #App_navigation header nav ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .App .App_main #App_navigation header nav ul li {
    margin-bottom: 1rem;
  }
  .App .App_main #App_navigation header nav ul li:last-of-type {
    margin-bottom: 0;
  }
  .App .App_main #App_navigation header .nav_footer {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .App .App_main #App_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
    height: calc(100vh - 111px);
  }
}/*# sourceMappingURL=App.css.map */